
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #4e8b9e;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}





#main {
    width: 100%;
    height: 800px;
    background: url("images/r.jpg") top right no-repeat;
    opacity: .97;
    background-color: black;
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 992px) {
    #main {
      padding-left: 110px;
    }
  }

  #main h1 {
    margin:0 ;
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
    color: hsl(180, 8%, 36%);
    text-shadow: 2px 2px rgb(74, 184, 199);
  }
  #main h3 {
    margin:0 ;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    color: hsl(180, 19%, 42%);
  }
  #main p {
    color:  #a9b8b7;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #main .button span{
    color:  #2a788b;
  }

  
  @media (max-width: 992px) {
    #main {
      text-align: center;
    }
    #main h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #main p {
      margin-top: 10px;
      font-size: 17px;
      line-height: 24px;
    }
  }
  

  

.button {
  outline: black;
  border-radius: 20px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 100px;
  
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -70px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




